<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import Required JS Modules -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

        <!-- Load Javascript for page -->
        <script src="/javascript/home_page_test.js"></script>

        <!-- Load CSS for page -->
        <link rel="stylesheet" href="/css/home_page_test.css">

        <title>Document</title>

    </head>

    <body>
        <h1>Home Page</h1>
        <p><%= id %></p>

        <p><%= users %></p>

        <p><%= users[0]._id %></p>

        <p><%= users[0].username %></p>

        <p><%= users[0].password %></p>

        <div id="test-div"></div>

        <button id="send">Send</button>

    </body>

</html>