<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Required JS Modules -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <!-- Load Javascript for page -->
    <script src="/javascript/app/groups-chat.js"></script>
    <script src="/javascript/app/alerts.js"></script>

    <!-- Load CSS for page -->
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/alert.css">
    
    <title>Group Chat</title>

</head>
<body>

    <script>
        const USER_ID = '<%= user_id %>';
        const group_id = '<%= group._id %>';
        const username = '<%= user.username %>';
    </script>

    <div class="header-wrapper">
        <div class="header-bar">
            <div class="back-button">
                <div class="bi bi-arrow-left-circle-fill"></div>
            </div>
            <div class="header-bar-title">
                <h1 style="align-self: center;"><%= group.group_name %></h1>
            </div>
            <a href="http://localhost:9000/chat/group/<%= group._id %>/settings" class="header-bar-options">
                <div  class="bi bi-gear-fill"></div>
            </a>
        </div>

    </div>

    <div class="alert-wrapper"></div>
    
    <div class="content-wrapper">

        <div class="message-wrapper">
            <% for (i=0; i<messages.length; i++) { %>
                <% if(messages[i].type == "group-message") { %>
                    <% if(messages[i].senderId == user_id) { %>
                        <div class="user-message">
                            <div class="user-message-content">
                                <p class="message-text" style="word-break: break-all;"><%= messages[i].text %></p>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="group-message">
                            <div class="group-message-content">
                                <h4><%= messages[i].senderUsername %></h4>
                                <p class="message-text" style="word-break: break-all;"><%= messages[i].text %></p>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <% if(messages[i].type == "group-image") { %>
                    <% if(messages[i].senderId == user_id) { %>
                        <div class="user-message">
                            <div class="user-message-content">
                                <img class="user-image" src=<%= messages[i].text %>>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="group-message">
                            <div class="group-message-content">
                                <h4><%= messages[i].senderUsername %></h4>
                                <img class="user-image" src=<%= messages[i].text %>>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        </div>

        <div class="input-wrapper">
            <div class="input-bar">
                <textarea id="chat-input" maxlength="750"></textarea>
                <!-- Image -->
                <button id="image-button">
                    <div class="bi bi-image-fill" style="font-size: 22px;"></div>
                </button>
                <!-- Send -->
                <button id="send-button">
                    <div class="bi bi-send-fill" style="font-size: 22px;"></div>
                </button>
            </div>
            <div class="dropdown dropdown-shown">
                <input class="dropdown-input" type="text" placeholder="Insert image link here">
                <button id="image-send-button">Send</button>
            </div>
        </div>

    </div>
    
</body>
</html>