<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Required JS Modules -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

    <!-- Load Javascript for page -->
    <script src="/javascript/app/groups-settings.js"></script>
    <script src="/javascript/app/alerts.js"></script>

    <!-- Load CSS for page -->
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="/css/alert.css">

    <title>Group Settings</title>

</head>
<body>

    <script>
        const USER_ID = '<%= user_id %>'
        const group_id = '<%= group._id %>'
    </script>

    <div class="alert-wrapper"></div>

    <div class="content-wrapper">
        <div class="settings-box">

            <h1 class="title"><%= group.group_name %> Settings</h1>

            <div class="member-content">

                <% if(friends.length>0) { %>
                    <h3 class="sub-title">Invite New Member:</h3>
                    <select name="member" id="member-select" class="user-input">
                        <option value="blank"></option>
                        <% for(i=0; i<friends.length; i++) { %>
                            <option value='<%= friends[i]._id %>'><%= friends[i].username %></option>
                        <% } %>
                    </select>

                    <div class="error-box"></div>

                    <div class="button-wrapper">
                        <button id="invite-button">Invite Friend</button>
                    </div>
                <% } else { %>
                    <h1>You've got now friends</h1>
                <% } %>

                <div class="button-wrapper">
                    <button id="leave-button">Leave Group</button>
                    <% if(group.group_admin == user_id) { %>
                        <button id="delete-button">Delete Group</button>
                    <% } %>
                </div>

            </div>

            <div class="back-wrapper">
                <button id="back-button">Back to group!</button>
            </div>

        </div>
    </div>
    
</body>
</html>
