<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import Required JS Modules -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

        <!-- Load Javascript for page -->
        <script src="/javascript/auth/logout.js"></script>
        <script src="/javascript/app/notifications.js"></script>


        <!-- Load CSS for page -->
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/notifications.css">

        <title>Notifications</title>

    </head>
    <body>

        <div class="content-wrapper">

            <div class="menu-wrapper">
                <div class="menu-bar">
                    <a href="http://localhost:9000/app/groups" class="menu-bar-widget" id="groups-button">
                        Groups
                    </a>
                    <a href="http://localhost:9000/app/friends" class="menu-bar-widget" id="friends-button">
                        Friends
                    </a>
                    <a href="http://localhost:9000/app/notifications" class="menu-bar-widget" id="requests-button">
                        Notifications
                    </a>
                    <a href="http://localhost:9000/app/account" class="menu-bar-widget" id="account-button">
                        Account
                    </a>
                    <div class="menu-bar-widget" id="logout-button">
                        Logout
                    </div>
                </div>
            </div>

            <div class="content">

                <% if(notifications.length > 0) { %>
                    <% for (i=0; i<notifications.length; i++) { %>

                        <div class="notification-cell">
                            <div class="notification-content">
                                <div class="notification-info">
                                    <h2 class="notification-title">
                                        <%= notifications[i].senderUsername %>
                                    </h2>
                                    <h3 class="notification-sub-title"><%= notifications[i].type %></h3>
                                </div>
                                <div class="notification-controls">

                                    <% if(notifications[i].responseRequired) { %>

                                        <% if(notifications[i].type === "friend-invite") { %>

                                            <div id="<%= notifications[i]._id %>" class="notification-friend-accept">
                                                <div class="bi bi-check2-circle"></div>
                                            </div>

                                            <div id="<%= notifications[i]._id %>" class="notification-friend-decline">
                                                <div class="bi bi-x"></div>
                                            </div>

                                        <% } %>

                                        <% if(notifications[i].type === "group-invite") { %>

                                            <div id="<%= notifications[i]._id %>" class="notification-group-accept">
                                                <div class="bi bi-check2-circle"></div>
                                            </div>

                                            <div id="<%= notifications[i]._id %>" class="notification-group-decline">
                                                <div class="bi bi-x"></div>
                                            </div>

                                        <% } %>

                                    <% } else { %>

                                        <div id="<%= notifications[i]._id %>" class="notification-clear">
                                            <div class="bi bi-x"></div>
                                        </div>

                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>

                    <% } %>
                <% } else { %>

                    <div class="create-wrapper">
                        <div class="create-content">
                            <h2 class="create-title">
                                No Notifications
                            </h2>
                        </div>
                    </div>

                <% } %>

            </div>
        </div>

    </body>
</html>